<html>

<head>
    <title>TVP Waitlist -- Fleet Setup</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.22/vue.js"></script>
    <script src="//npmcdn.com/feathers-client/dist/feathers.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var app = feathers()
        app
            .configure(feathers.socketio(io()))
            .configure(feathers.hooks())
            .configure(feathers.authentication({ storage: localStorage }))
    </script>
    
    <style>
        div {
            margin: 5px;
        }
        .error {
            background-color: lightpink;
        }
        .border {
            border: 1px solid black;
        }
        .free {
            float: left;
        }
    </style>
</head>

<body>
    <div v-if="authenticated">
        Hello <img :src="user.EveAvatar"> {{ user.EveCharacter }}!
        <div class="free border">
            <fleets></fleets>
            <fleet-create></fleet-create>
        </div>
        <fleet-details v-if="fleet" :fleet="fleet"></fleet-details>
    </div>
    <script type="text/javascript">
        new Vue({
        el: 'body',
        data: {
            authenticated: false,
            user: null,
            fleet: null
        },
        created() {
            app.authenticate().then(result => {
                if (!result.data.EveCharacter) {
                    window.location = '/EveAuthDisclaimer.html'
                    return
                } 
                
                this.authenticated = true
                
                this.user = result.data
            })
        },
        methods: {
            fleet_open(fleet) {
                app.service('EveFleets').get(fleet._id)
                    .catch(error => {
                        if(error.redirect)
                            window.location = error.redirect 
                    })
                    .then(fleet => {
                        this.fleet = fleet
                    })
            }
        }
    })
    </script>

    <template id="fleets-template">
        <fleet v-for="fleet in fleets" :fleet="fleet"></fleet>
    </template>
    <script>
        Vue.component('fleets', {
            template: '#fleets-template',
            data() {return {fleets:[]}},
            ready() {
                app.service('EveFleets').find().then(result => {
                    this.fleets = result.data
                })
                
                app.service('EveFleets').on('created', fleet => {
                    this.fleets.push(fleet)
                })
            }
        })
    </script>

    <template id="fleet-template">
        <div>
            {{ fleet.name }}
            <button @click="open">Open</button>
        </div>
    </template>
    <script>
        Vue.component('fleet', {
            template: '#fleet-template',
            props: ['fleet'],
            methods: {
                open() {
                    this.$root.fleet_open(this.fleet)
                }
            }
        })
    </script>

    <template id="fleet-create-template">
        <div>
            <input type="text" placeholder="Fleet's name" v-model="name"><br>
            <input type="text" placeholder="External link" v-model="crest"><br>
            <button @click="create">Create</button>
            <error v-if="error" :error="error"></error>
        </div>
    </template>
    <script>
        var fleet_create_model = {
            name: '',
            crest: '',
            error: null
        }
        Vue.component('fleet-create', {
            template: '#fleet-create-template',
            data() {
                return Object.assign({}, fleet_create_model)
            },
            methods: {
                create() {
                    var data = Object.assign({}, fleet_create_model)
                    Object.keys(data).forEach(key => { data[key] = this[key] })
                    
                    app.service('EveFleets').create(data).then(() => {
                        // Fleet has been created, empty form to show placeholder again
                        Object.assign(this, fleet_create_model)
                    }).catch(e => {
                        console.log(e)
                        this.error = e
                    })
                }
            }
        })
    </script>
    
    <template id="fleet-details-template">
        <div>
            Name of the fleet: <input type="text" v-model="fleet.name"><br>
            Move freely between squads? <input type="checkbox" v-model="fleet.isFreeMove"><br>
            Fleet is beeing advertised? <input type="checkbox" v-model="fleet.isRegistered" disabled><br>
            Is voice chat enabled? <input type="checkbox" v-model="fleet.isVoiceEnabled" disabled><br>
            Message of the day: <textarea v-model="fleet.motd"></textarea><br>
            <button @click="update">Update</button>
            <error v-if="error" :error="error"></error>
        </div>
    </template>
    <script>
        Vue.component('fleet-details', {
            template: '#fleet-details-template',
            data() {
                return {error: null}
            },
            props: ['fleet'],
            methods: {
                update() {
                    app.service('EveFleets').patch(this.fleet._id, this.fleet)
                        .catch(e => {
                            this.error = e
                        })
                        .then(fleet => {
                            //this.fleet = fleet
                        })
                }
            }
        })
    </script>
    
    <template id="error-template">
        <div class="error">
            {{ error.message }}
        </div>
    </template>
    <script>
        Vue.component('error', {
            template: '#error-template',
            props: ['error']
        })
    </script>
</body>

</html>